.pageTitle {
	padding-bottom: 50px;
}

.pageTitle p {
	width: 60%;
}

@media (max-width: 992px) {
	.pageTitle h1 {
		font-size: 3em;
	}
	.pageTitle p {
		width: 100%;
		margin: auto;
		text-align: justify;
	}
}
