.pageTitle {
	padding-bottom: 25px;
	text-align: center;
}

.pageTitle p {
	width: 50%;
	margin: auto;
}

@media (max-width: 992px) {
	.pageTitle h1 {
		font-size: 3em;
	}
	.pageTitle p {
		width: 100%;
		margin: auto;
	}
}

@media (max-width: 768px) {
	.pageTitle {
		padding-bottom: 0;
	}

	.pageTitle h1 {
		font-size: 2.5em;
	}
	.pageTitle p {
		width: 100%;
		margin: auto;
	}
}
