.case__study {
	padding: 3rem 0rem 5rem 0rem;
	width: 70%;
	position: relative;
}

.case__study p img {
	width: 100%;
}

.case__hero {
	height: 600px;
	width: 100%;
}

@media (max-width: 992px) {
	.case__study {
		width: 80%;
	}

	.case__hero {
		height: 300px;
	}
}

@media (max-width: 786px) {
	.case__study {
		width: 100%;
	}
}
