.home {
	padding: 5rem 0rem;
	width: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home__content {
	margin-bottom: 20px;
	/* width: 80%; */
	/* margin: auto; */
}

/* .home__content h1,
.home__content h3 {
	text-align: center;
} */

.home__content h3 {
	font-weight: 300;
}

.service__info {
	display: flex;
	flex-direction: column;
}

@media (max-width: 992px) {
	.home {
		padding: 2rem 0rem;
		width: 100%;
	}

	.home__content {
		margin-bottom: 20px;
		width: 100%;
	}

	.service__info {
		display: flex;
		justify-content: space-around;
		flex-direction: column;
	}
}
