.services__grid {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
}

.services__grid__item {
	width: 32%;
	border-radius: 20px;
	padding: 10px;
	text-align: center;
}

.services__grid {
	flex-direction: row;
}

@media (max-width: 992px) {
	.services__grid {
		flex-direction: column;
	}

	.services__grid__item {
		width: 100%;
	}
}
