.services__grid {
	display: flex;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: row;
	align-content: center;
}

.services__grid__item {
	width: 50%;
	border-radius: 20px;
	padding: 30px;
	text-align: center;
}

@media (max-width: 992px) {
	.services__grid {
		width: 70%;
		flex-direction: column;
	}

	.services__grid__item {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.services__grid__item {
		width: 100%;
		border-radius: 20px;
		padding: 15px 0px 15px 0px;
	}
}
